header.profile {
  height: 400%;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc8800;
  flex-direction: column;
}

@media only screen and (min-width:1024px){
  header.top-header{
   margin-top:300px;
   margin-left:200px;
   width:40%;
 }
}